
<%= form_tag sessions_path ,class: "form-signin" do %>
 
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

  <%= label_tag :email,nil %>
  <%= email_field_tag :email,nil,  id: "inputEmail",class: "form-control", required: "autofocus" %>

  <%= label_tag :password,nil %>
  <%= password_field_tag :password, nil ,  id: "inputPassword", class: "form-control"%> 
  
  
  <%= submit_tag "login", class: "btn btn-lg btn-primary btn-block" %>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>

<% end %>
