<!DOCTYPE html>
<html>

  <head>
    <title>internal</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
    <%= stylesheet_link_tag "internal" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>

      <nav class="my-2 my-md-0 mr-md-3">

        <%= link_to 'log out',logout_path,class: "btn btn-outline-primary"%>

        <%= link_to 'profile_edit',edit_path,class: "btn btn-outline-primary" %>

      </nav>
      
    </div>
     
    <%= yield %>
  </body>
</html>